@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Italic.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-BoldItalic.ttf);
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body { 
        display: flex;
        flex-direction: column;
        
        min-height: 100vh;
        margin: 0;
        padding: 0;
      }


.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

html {
    scroll-behavior: smooth; 
  }

 
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
  header {
      background-color: rgba(130, 150, 141, 0.5);
 }

 .my-container {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
  }
  
  .section {
        width: calc(50% - 20px);
        padding: 10px;
        padding-bottom: 35px;
        border-bottom: 1px solid #672f2f;
    
  }

  .prof_tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
  }

  .logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    filter: grayscale(0.2) brightness(1.05);
    transition: .3s;
  }

  .section_prof {display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #d7d1c9;
}
main {
    background-color: rgba(95, 89, 89, 0.5);
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
}

.footer {
    background-color: rgba(165, 101, 101, 0.5);
}