* {
    box-sizing: border-box;
  }
  body{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  html {
    scroll-behavior: smooth;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
    }

    .nav-list {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    .nav-item{
        
        text-decoration: none;
    }

    .nav-list {
        list-style-type: none;
         /* Убирает буллиты */
       }
    a{
        text-decoration: none;
        color: black;
    }

    .head{
        width: 100%;
        
        background-color: #3f6582;
    }

    .nav-link{
        padding: 0 20px;
        line-height: 50px;
        transition: 0.3s;
    }
    .section-item a {
        color: #829985;
        text-decoration: none;
        transition: color 0.5s;
      }
      .section-item a:hover {
        color: #4d2323;
      }
  